In [21]:
import pandas as pd
df = pd.read_csv('Grape vs Orange.csv')

In [22]:
df.describe

<bound method NDFrame.describe of             name  diameter  weight  red  green  blue
0         orange      2.96   86.76  172     85     2
1         orange      3.91   88.05  166     78     3
2         orange      4.42   95.17  156     81     2
3         orange      4.47   95.60  163     81     4
4         orange      4.48   95.76  161     72     9
...          ...       ...     ...  ...    ...   ...
9995  grapefruit     15.35  253.89  149     77    20
9996  grapefruit     15.41  254.67  148     68     7
9997  grapefruit     15.59  256.50  168     82    20
9998  grapefruit     15.92  260.14  142     72    11
9999  grapefruit     16.45  261.51  152     74     2

[10000 rows x 6 columns]>

In [23]:
df

            name  diameter  weight  red  green  blue
0         orange      2.96   86.76  172     85     2
1         orange      3.91   88.05  166     78     3
2         orange      4.42   95.17  156     81     2
3         orange      4.47   95.60  163     81     4
4         orange      4.48   95.76  161     72     9
...          ...       ...     ...  ...    ...   ...
9995  grapefruit     15.35  253.89  149     77    20
9996  grapefruit     15.41  254.67  148     68     7
9997  grapefruit     15.59  256.50  168     82    20
9998  grapefruit     15.92  260.14  142     72    11
9999  grapefruit     16.45  261.51  152     74     2

[10000 rows x 6 columns]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10000 non-null  object
 1   diameter  10000 non-null  float64
 2   weight    10000 non-null  float64
 3   red       10000 non-null  int64
 4   green     10000 non-null  int64
 5   blue      10000 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 468.9+ KB

In [25]:
X = df[['diameter','weight','red','green','blue']]
y = df['name']

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

In [27]:
from sklearn.tree import DecisionTreeClassifier
 
tree_model = DecisionTreeClassifier() 

tree_model = tree_model.fit(X_train, y_train)

In [28]:
from sklearn.metrics import accuracy_score
y_pred = tree_model.predict(X_test)
acc_score = round(accuracy_score(y_pred,y_test),3)

In [29]:
print('Accuracy:',acc_score)

Accuracy: 0.942

In [37]:
# prediksi model dengan tree_model.predict([['diameter','weight','red','green','blue']])
print(tree_model.predict([[3,80,170,85,2]]))

['orange']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [39]:
#print the algorithm tree image, convert the dot file to png using online converter
from sklearn.tree import export_graphviz
export_graphviz(
    tree_model,
    out_file = "algoritma decision tree.dot",
    feature_names = ['diameter', 'weight', 'red', 'green', 'blue'],
    class_names = ['orange', 'grapefruit'],
    rounded= True,
    filled =True
)